# Data files
classification/data/
alpha_zero/data/play_data/
alpha_zero/data/model/next_generation/
alpha_zero/data/generated/
*.csv

# Python cache files
__pycache__/
*.pyc

# Logs
logs/

# System files
.idea
.DS_Store
.env
